#root {
    max-width: 1280px;
    height: 100%;
    text-align: center;
    margin: auto;
  }

main {  
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    padding: 1rem;
    justify-content: center;
}


